### Accès Interdit

Options -Indexes

RewriteEngine On

#Interdire l'acces aux dossiers :
RewriteRule ^(src) - [R=403,L]

# Bloquer l'accès aux fichiers .env, .gitignore, composer.json, composer.lock, README.md
<FilesMatch "(\.env|\.gitignore|composer\.json|composer\.lock|README\.md)">
  Order allow,deny
  Deny from all
</FilesMatch>